.page {

  --main-dark-color: #1c1c1c;
  --card-grey-color: #252525;
  --secondary-grey-color: #2e2e2e;
  --main-text-color: #ffffff;
  --secondary-text-color: #767676;

  /* background-color: var(--main-dark-color);
  color: var(--main-text-color); */

  /* display: grid; */
  /* grid-template-rows: 20px 1fr 20px; */
  /* align-items: center; */
  /* justify-items: center; */
  min-height: 100svh;
  /* padding: 80px; */

  /* font-family: var(--font-geist-sans); */
}
