:root {
  --main-dark-color: #1c1c1c;
  --card-grey-color: #252525;
  --secondary-grey-colo: #2e2e2e;
  --main-text-color: #ffffff;
  --secondary-text-color: #767676;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-dark-color: #1c1c1c;
    --main-text-color: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--main-text-color);
  background: var(--main-dark-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
